<div class="swag-dialog-header">
    <div class="swag-logo"></div>
    <div class="swag-header-link" data-action></div>
    <div class="swag-header-link" {{#if backButton}}data-action="back"{{/if}}></div>
</div>
