<div class="swag-dialog-header">
    <div class="swag-logo"></div>
    <div class="swag-header-link" data-action></div>
   {{#if @root.header.backButton}}<div class="swag-header-link"data-action="back"></div>{{/if}}
</div>
