<div class="swag-data-selector">
  <div class="selector-title">Achievements</div>
</div>
<div class="swag-data-table">
  <!--
  <div class="swag-data-header">
    <div class="data-screen-name">Name</div>
    <div class="data-score">Score</div>
    <div class="data-date">Date</div>
  </div>
  -->
  <div id="swag-data"></div>
</div>
