{{#each achievements}}
  <div class="data-achievement-row {{#if user_achieved}}achieved{{/if}}">
    <div>
      <div class="data-achievement-name">{{name}}</div>
      <div class="data-description">{{description}}</div>
    </div>
  </div>
{{/each}}
