<div class="swag-dialog-header">
  <div class="swag-logo"></div>
  {{#if @root.title}}<div class="swag-dialog-title">{{@root.title}}</div>{{/if}}
  {{#if @root.header.backButton}}<div class="swag-header-link"data-action="back"></div>{{/if}}
</div>
