<div class="swag-form">
  <div class="swag-form-container">
    <input type="text" id="swag-logincreate-username" placeholder="username"/>
    <input type="text" id="swag-logincreate-mail" placeholder="email"//>
    <input type="password" id="swag-logincreate-password" placeholder="password"//>
    <input type="button" id="swag-logincreate-submit" value="Create"/>
    <div id="swag-logincreate-message" class="swag-form-message"></div>
  </div>
</div>
