<div class="swag-form">
  <div class="swag-form-container">
    <input type="text" id="swag-login-username" placeholder="username"/>
    <input type="password" id="swag-login-password" placeholder="password"//>
    <input type="button" id="swag-login-submit" value="Login"/>
    <div id="swag-login-message" class="swag-form-message"></div>
  </div>
  <div class="swag-form-container">
      <p>Not a member yet?</p>
      <input type="button" id="swag-login-create" class="swag-create-account" value="Create your account"/>
  </div>
</div>
