<div class="swag-data-selector">
  <div class="swag-score-context">
  </div>
  <div class="swag-select-container">
    <select class="swag-data-view-level swag-select">
      {{#each levels}}
        <option value="{{level_key}}">{{name}}</option>
      {{/each}}
    </select>
    <select class="swag-data-view-period swag-select">
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="monthly">Monthly</option>
      <option value="alltime">All Time</option>
    </select>
  </div>
</div>
<div class="swag-data-table"></div>
