.swag-dialog-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 0.50s;
    z-index: 10000;
}

.swag-dialog {

    z-index: 15000;

    position: absolute;
    margin: auto;
    background-color: #fff;
    border: 2px solid #0263a0;
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.24);
    font-size: 1vw;
    animation-duration: 0.50s;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

    .swag-dialog-header {
        color: #fff;
        border-radius: 0.5vw 0.5vw 0vw 0vw;
        padding: 0.5vw;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex: 0 0 auto;

        .swag-logo {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            width: 10vw;
            height: 3vw;
        }

        .swag-header-link {
            position: absolute;
            top: -0.5vw;
            right: -0.5vw;
            line-height: 2.6vw;
            font-size: 1.8vw;
            height: 2.6vw;
            width: 2.6vw;
            overflow: hidden;
            cursor: pointer;
            border-radius: 50%;
            background-color: #b60909;
            border: 2px solid #820c0c;
            box-shadow: -3px 3px 3px 0px rgba(0,0,0,0.34);

            &[data-action="back"] {

                &:before {
                    display: inline-block;
                    content: "\00D7";
                    color: #fff;
                }

                &:hover {
                    background-color: #980707;
                }
            }
        }
    }

    .swag-dialog-title {
        font-size: 1.5vw;
        text-align: center;
        color: #53b0e1;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        display: flex;
        color: #fff;
    }

    .swag-dialog-content {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        flex: 1 1 100%;

        &.loading {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 20%;
        }

        .swag-data-table {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          flex: 1 1 100%;
          padding: 1vw;
          overflow: hidden;
          font-size: 1.1vw;
          color: #272727;

          .swag-data-header {
            display: flex;
            flex-wrap: nowrap;
            flex: 0 0 auto;
            color: #0164a0;
            font-weight: 700;
            border: 1px solid #d2d2d2;
            overflow: hidden;
            border-radius: 10px 10px 0px 0px;
            padding: 0.5vw;
            box-sizing: border-box;
            background-color: #e3e7ea;

            > div {
              border: none;
              &:nth-child(odd),
              &:nth-child(even) {
                background-color: initial;
              }
              padding: 0vw;
            }
          }

          > div {
            border: 1px solid #efefef;
            overflow-y: scroll;
            flex: 1 1 100%;
            width: 100%;
            flex-wrap: wrap;
            box-sizing: border-box;
            position: relative;

            > div {
              display: flex;
              flex: 1 1 100%;
              flex-wrap: nowrap;
              padding: 0.5vw;
              border-bottom: 1px solid #EFEFEE;
              box-sizing: border-box;
              align-items: center;

              &.data-achievement-row {
                flex-wrap: wrap;
                border: 1px solid #efefef;
                margin-bottom: 1vw;

                > div {
                  text-align: left;
                  padding-left: 1vw;
                  color: #afafaf;
                }

                &:nth-child(odd),
                &:nth-child(even) {
                  background-color: #fff;
                }

                &:before {
                  width: 2.6vw;
                  height: 2.6vw;
                  line-height: 2.8vw;
                  content: "\2713";
                  background-color: #fff;
                  color: #fff;
                  font-weight: 700;
                  font-size: 1.6vw;
                  border-radius: 50%;
                  border: 1px solid #efefef;
                }

                &.achieved {
                  border: 1px solid green;

                  &:before {
                    content: "\2713";
                    background-color: green;
                  }

                  > div {
                    color: black;
                  }

                  .data-achievement-name {
                    color: green;
                  }

                  .data-achievement-description {
                    color: #868585;
                  }
                }
              }

              &:nth-child(even) {
                background-color: #f0f8ff;
              }
            }
          }

          > div,
          .swag-data-header {

            .data-empty {
              align-items: center;
              justify-content: center;
              position: absolute;
              width: 100%;
              padding: 0;
              height: 100%;
              font-size: 1.5vw;
              color: #7e7e7e;
            }

            .data-screen-name {
              flex: 0 0 40%;
              text-align: left;
            }

            .data-day {
              flex: 0 1 60%;
              text-align: left;
            }

            .data-score {
              flex: 0 0 40%;
              text-align: left;
            }

            .data-date {
              flex: 0 1 20%;
              text-align: left;
            }

            .data-achievement-name {
              flex: 1 1 100%;
              font-size: 1.5vw;
              font-weight: 700;
            }

            .data-achievement-description {
              flex: 1 1 100%;
              font-size: 1.2vw;
              font-weight: 400;
            }

          }
        }
    }

    .swag-data-selector {
        padding: 1vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: #272727;
        justify-content: space-around;

        div.swag-score-context {
          display: flex;
          flex-wrap: wrap;
          flex: 0 1 50%;
          font-size: 1vw;
          height: 3.6vw;
          align-items: center;
          > div {
            flex: 1 1 100%;
            text-align: left;
          }
        }

        div.selector-title {
            padding-right: 2vw;
            text-align: center;
            font-size: 1.5vw;
        }
    }

    @media only screen and (max-width : 761px) {
        .swag-dialog-header {
            font-size: 0.7vw;
        }
        .swag-dialog-title {
            font-size: 1.4vw;
        }
    }
}

/* Themes */

.swag-dialog {
    &.shockwave {
        .swag-dialog-header {
          background-color: #0064a0;
          .swag-logo {
              background-image: url("images/shockwave-logo.png");
          }
        }
        .swag-dialog-content {
          &.loading {
              background-image: url("images/shockwave-loader.gif");
          }
        }
        .swag-data-selector {
            background-color: #f0f8ff;
        }
    }
}
