.swag-form {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5vw;

  .swag-form-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1vw;
    box-sizing: border-box;

    input[type=text],
    input[type=password] {
      flex: 1 1 100%;
      font-size: 2vw;
      line-height: 2.5vw;
      margin-bottom: 0.5vw;
      border: 1px solid #efefef;
      position: relative;

      &[type=password],
      &[placeholder="username"],
      &[placeholder="email"] {
        background-position: 0.5vw center;
        background-size: 1vw auto;
        background-repeat: no-repeat;
        padding-left: 2vw;
      }

      &[type=password] {
        background-image: url("images/input-lock.png");
      }

      &[placeholder="username"] {
        background-image: url("images/input-user.png");
      }

      &[placeholder="email"] {
        background-image: url("images/input-envelope.png");
      }

      &::-webkit-input-placeholder {
        color: #d4d4d4;
        font-weight: 200;
      }
      &::-moz-placeholder {
        color: #d4d4d4;
        font-weight: 200;
      }
      &:-ms-input-placeholder {
        color: #d4d4d4;
        font-weight: 200;
      }
      &:-moz-placeholder {
        color: #d4d4d4;
        font-weight: 200;
      }
    }

    p {
      width: 100%;
      font-size: 1vw;
      text-align: center;
      line-height: 1.5vw;
      margin: 0;
    }

    input[type=button] {
      width: 100%;
      font-size: 1.5vw;
      background-color: #2495f4;
      color: #fff;
      cursor: pointer;
      font-weight: 200;

      &.loading {
        background-image: url("images/button-loader.gif");
        background-size: 1.5vw 1.5vw;
        background-position: center center;
        background-repeat: no-repeat;
        text-indent: -2000em;
      }

      &:hover {
        background-color: #1f76bf;
      }

      &.swag-create-account {
        background-color: #039403;
        &:hover {
          background-color: #037b03;
        }
      }

    }

    .swag-form-message {
      display: flex;
      width: 100%;
      color: red;
      height: 1vw;
      padding: 0;
      margin: 0;
      padding-top: 0.5vw;

      p {
        font-size: 0.8vw;
      }
    }
  }
}
